@import "bootstrap";
@import "bootstrap/responsive";

body{
	padding: 0 0;
}
.navbar{
	border-bottom: 8px solid #06b1f0;  
	margin-bottom: 0px !important;
}
.navbar ul{
	margin: 15px 0;
}
.navbar ul.inline > li{
	width: 19%;
	text-align: center;

}
.icon_opacity{
	opacity: 0.5;
}

.pm25{
	background: #fff6e5;
	overflow: auto;
}
.pm25 h3{
	color: #7ec7e3;
}
.pm25 h3 span{
	font-family:serif;
	font-weight: 100;
}


.status-info{
	color:#3e454c;
}

.time-status{
	color: #bebfc1;
}
.leavetime_status{
	color:#a2a4a7;
}
.leave_status{
	color:#7ecefd;
	padding-top: 5px;
	font-size: 16px;
}
.online-status{
	color: #3e454c;
	padding-top: 5px;
	font-size: 16px;
}
.out-status{
	color: #ff7f66;
	padding-top: 5px;
	font-size: 16px;
}

.custom_stast_comment{
	padding-left:20px;
}

#mpshow{
	padding-left:30px;
}

/*****by linsk ***/
#status{
	background:#fff;
}

#status .card{
	padding:10px;
}

.odd_card{
	background-color:#fafafa;
/*border-top: 1px solid #eaeae7;	*/
}

#status .card .profile{
	width:64px;
	margin-right:10px;
	float: left; 
}

#status .card .profile img {
	border-left: 4px solid #eee;
}

.status-online{
border-left: 4px solid #64c26d !important;;
}

.status-office{
border-left: 4px solid #448bb4 !important;; 
}

#status .card .profile .name{
	text-align: center;
}

#status .card .profile a{
	overflow: auto;	
	color:#888;
	text-align: center;
	text-decoration: none;
	font-size:1.1em;
}

#status .right_comments{
	margin-left:10px;
}
#status .custom_comment{
	font-size:0.9em;
}
#status .leave_or_from{
	position: relative;
	bottom:0;
	float: right;
	font-size: 0.8em;
}

