@import "bootstrap";
@import "bootstrap/responsive";

body{
	padding: 0 0;
}
.border_line{
	border-bottom: 6px solid #06b1f0;  
}
.border_line ul{
	margin: 15px 0;
}
.border_line ul.inline > li{
	width: 19%;
	text-align: center;

}
.icon_opacity{
	opacity: 0.5;
}
.menber_list{
	border-top: 2px solid rgb(226, 213, 213);
	padding-top: 10px;
	background: rgb(247, 242, 242);
	
}
.head_bg{
	background: #fff6e5;
	overflow: auto;
}
.head_bg h3{
	color: #7ec7e3;
}
.head_bg h3 span{
	font-family:serif;
	font-weight: 100;
}
.teach-itme{
	float: left;
	width: 6%;
	padding:6px 5px 0  5px;
	text-align: center;
	border: 1px solid rgb(233, 214, 214);
}
.bg{
	background: white;
	padding: 30px 0;
	margin-top: 120px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.status-info{
	color:#3e454c;
}
.time-status{
	color: #bebfc1;
}
.leavetime_status{
	color:#a2a4a7;
}
.leave_status{
	color:#7ecefd;
	padding-top: 5px;
	font-size: 16px;
}
.online-status{
	color: #3e454c;
	padding-top: 5px;
	font-size: 16px;
}
.out-status{
	color: #ff7f66;
	padding-top: 5px;
	font-size: 16px;
}


