<div class="container">
		<div class="navbar">
      <ul class="inline text-center">
        <li><a href="/"><img src="/assets/home.png"></a></li>
        <li><img src="/assets/report.png"></li>
        <li><%= link_to image_tag('/assets/write.png'),:id => current_user,:action => 'custom_status_comment',:controller => 'users' if current_user%></li>
        <% if current_user && current_user.avatar%>
          <li><%=link_to image_tag(current_user.avatar, :width => "32"),:id => current_user,:action => 'mobileshow', :controller => "users" %></li>
        <% else %>
          <li><%=link_to image_tag("/assets/menber.png", :class => "icon_opacity"),'/login'   %></li>
        <% end %>
      </ul>
    </div>
    <div><%= display_notice_and_alert %></div>
    <div class="text-center pm25">
      <ul class="inline">
        <li>
          <h3>PM2.5   <span>54</span></h3>
        </li>
        <li>
          <h3>PM 10   <span>94</span></h3>
        </li>
      </ul>
      <ul class="inline">
        <li>
          <h3>SO2   <span>18</span></h3>
        </li>
        <li>
          <h3>NO2    <span>93</span></h3>
        </li>
      </ul>
  </div>