<div class="container well">
  <div class="content"> 
			<div class="span12  border_line">
      <ul class="inline">
        <li><img src="/assets/home.png"></li>
        <li><img src="/assets/report.png"></li>
        <li><img src="/assets/write.png"></li>
        <li><img src="/assets/menber.png"></li>
      </ul>
    </div>
    <div class="row text-center head_bg">
      <div class="span5">
        <h3>PM2.5   <span>54</span></h3>
      </div>
      <div  class="span5">
        <h3>PM 10   <span>94</span></h3>
      </div>
      <div class="span5">
        <h3>SO2   <span>18</span></h3>
      </div>
      <div  class="span5">
        <h3>NO2    <span>93</span></h3>
      </div>
    </div>
<%= display_notice_and_alert %>


